<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reporterSource.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" 
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name=".ReporterSourceActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SecondView"></activity>
        <activity android:name="Viewquery"></activity>
        <activity android:name="ReplyActivity"></activity>
    </application>

</manifest>


