*
{
	margin: 0px;
	padding: 0px;
}

@font-face
{
	font-family:brannboll;
	src: url(fonts/BrannbollFet.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family:bebas;
	src: url(fonts/BebasNeue.otf);
	font-weight: normal;
	font-style: normal;
}

body
{
	background: url("img/noisy_grid.png") #f7f7f7;
}

#branding
{
	width: 800px;
	margin: 0 auto;
	text-align:center;
}

h1
{
	text-align:center;
	color: #444;
	font: 120px bebas, brannboll, Georgia;
}

h1 span
{
	color: #0097f5;
}

h3
{
	text-align:center;
	color: #444;
	font: 30px bebas,"Trebuchet MS", Tahoma, Verdana;
	letter-spacing: 8px;
}

h2
{
	text-align:left;
	color: #2c2c2c;
	font: 14px verdana, Tahoma, "Trebuchet MS";
	width: 700px;
	margin: 0 auto;
	text-align: justify;
	line-height: 25px;
	display:none;
	border: 1px dotted #2e2e2e;
	padding: 10px;
	border-radius: 10px;
}

h2 span
{
	color: #0097f5;
}

#content
{
	text-align:center;
	padding: 10px;
	border: 25px solid #161616;
	width: 500px;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #000;
}

.rsbutton
{
	background: #0097f5;
	padding: 10px 30px;
	color: #fff;
	border-radius: 20px;
	font: 14px Tahoma, Verdana, "Trebuchet MS";
}

.rsbutton:hover
{
	background: #0483D3;
}

.rsbutton:active
{
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

a
{
	text-decoration:none;
}

#logo-section
{
	padding-top: 95px;
	text-align:center;
}

#logo-section img
{
	width: 128px;
}

#social
{
	text-align:center;
}
